*{
    margin: 0;
    padding: 0;
}

#one{
    height: 200px;
    width: 200px;
    background-color: bisque;
}

#two{
    margin: 100px;
    padding-block: 10px;
    padding-inline: 15px;
    border-color: red;
    border-style: dotted;
    border-radius: 50%;
}

#one1{
    box-sizing: content-box;
    padding: 20px;
    width: 200px;
    height: 200px;
    /* border: 10px; */
    margin: 20px;
}

#two1{
    box-sizing: border-box;
    padding: 20px;
    width: 200px;
    height: 200px;
    /* border: 10px; */
    margin: 20px;
}